<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/contact.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="bg-img">
    <div class="covid-box" >
        <strong style="color: #b2910e;"> TRAVEL ADVISORY:</strong> See updates and precautionary measures for Covid-19 <a href="/covid">here.</a>
    </div>
    <div id="navbar">
     <a class ="left-tag" href="\">TravelTrek</a>
  <a class="right-tag" href="\contact">Contact Us</a>
  <div class="dropdown">
    <button class="dropbtn">Things to do
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="\food">Food</a>
      <a href="\wellness">Wellness</a>
      <a href="\adventurous">Adventurous</a>
    </div>
  </div> 
  <a class="right-tag" href="\events">Events Calender</a>
  <a class ="right-tag" href="\placesToGo">Places to go</a>
  <a class="active right-tag" href="\">Home</a>
</div>
</div>

<!-- body -->
<section class="py-5">
    <div class="container"> 
        <h2 class="l_header">Contact Us</h2>
        <p style="text-align: center; color: #E4C062;font-size: 20px; margin-left: 200px;margin-right: 200px;">Reach out to us for any kind of enquiry.</p>
    </div>   
</section>

<div class="bg-text">
<div class="blackbackground">
<!-- contact form -->
<form action="/contact" method="POST">
    <ul class="form-style-1">
        <li><label>First Name <span class="required">*</span></label><input type="text" name="firstName" class="field-divided" placeholder="First" /></li>
        <li><label>Last Name <span class="required">*</span></label><input type="text" name="lastName" class="field-divided" placeholder="Last" /></li>
        <li>
            <label>Email <span class="required">*</span></label>
            <input type="email" name="email" class="field-long" />
        </li>
        <li>
            <label>Country</label>
            <select name="country" class="field-select">
            <option value="None">Select</option>
            <option value="USA">USA</option>
            <option value="India">India</option>
            <option value="China">China</option>
            <option value="Japan">Japan</option>
            <option value="Mexico">Mexico</option>
            <option value="France">France</option>
            <option value="Dubai">Dubai</option>
            <option value="Nepal">Nepal</option>
            <option value="UK">UK</option>
            <option value="Hong Kong">Hong Kong</option>

            </select>
        </li>
        <li>
            <label>Contact Number <span class="required">*</span></label>
            <input type="tel" name="phoneNumber" class="field-long" />
        </li>
        <li>
            <label>Your Message <span class="required">*</span></label>
            <textarea name="message" id="field5" class="field-long field-textarea"></textarea>
        </li>
        <li>
            <input type="submit" value="Submit" />
        </li>
    </ul>
    </form>
</div>
</div>
<!-- contact form -->
    

<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
  </div>
<footer>
    <div class="row">
        <div class="footer-column">
            <h2>About Us</h2>
            <p>We are a travel and trek company based which delivers outstanding adventure travelling, trekking and mountain camping experiences.</p>
        </div>
        <div class="footer-column">
            <h2>Contact Us</h2>
            <h3>Location:</h3>
            <p>H.No.254, Near Ram Lila Chowk, Chhattarpur Village, New Delhi-11007</p>
            <h3>Phone:</h3>
            <p>Phone: +121 098 8907 9987<br>
                Emails: <a href="mailto:traveltrek@gmail.com">traveltrek@gmail.com</a></p>
        </div>
        <div class="footer-column">
            <h2>Recent Posts</h2>
            <img src="/images/first_image1.jpg" class="footer-image">
            <img src="/images/first_image2.jpg" class="footer-image">
            <img src="/images/first_image3.jpg" class="footer-image"><br>
            <img src="/images/first_image4.jpg" class="footer-image">
            <img src="/images/first_image5.jpg" class="footer-image">
            <img src="/images/place2.jpg" class="footer-image"><br>
            <img src="/images/place3.jpg" class="footer-image">
            <img src="/images/place4.jpg" class="footer-image">
            <img src="/images/place5.jpg" class="footer-image">
        </div>
        <div class="footer-column">
            <h2>Subscribe</h2>
            <p>Stay in touch with us, explore more adventurous places.</p>
            <form method="post" class="newsletter">
                <input class="email" type="email" placeholder="Enter your email" required>
                <button class="btn-newsletter">
                    <i class="fa fa-envelope"></i>
                </button>
            </form>
        </div>
    </div>
    
    <div class="copyright">
        <h4>Follow us now!</h4>
        <div class="follow">
            <ul>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="text">
            <p>Copyright © 2021 TravelTrek. All Rights Reserved. 
                <a href="index.html">TravelTrek</a>
            </p>
        </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>



<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

</body>
</html>
