<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/index.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
 
    <div class="covid-box" >
        <strong style="color: #b2910e;"> TRAVEL ADVISORY:</strong> See updates and precautionary measures for Covid-19 <a href="/covid">here</a>.
    </div>
    <div id="navbar">
  <a class ="left-tag" href="\">TravelTrek</a>
  <a class="right-tag" href="\contact">Contact Us</a>
  <div class="dropdown">
    <button class="dropbtn">Things to do
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="\food">Food</a>
      <a href="\wellness">Wellness</a>
      <a href="\adventurous">Adventurous</a>
    </div>
  </div> 
  <a class="right-tag" href="\events">Events Calender</a>
  <a class ="right-tag" href="\placesToGo">Places to go</a>
  <a class="active right-tag" href="\">Home</a>
</div>
 
<div class="slideshow-container">
 
    <div class="mySlides fade">
      <img src="images\first_image1.jpg" style="width:100%; height: 800px;">
      <div class="centered">Experience The Best Trip Ever</div>
    </div>
    
    <div class="mySlides fade">
      <img src="images\first_image2.jpg" style="width:100%; height: 800px;">
      <div class="centered">Experience The Best Trip Ever</div>
    </div>
    
    <div class="mySlides fade">
      <img src="images\first_image3.jpg" style="width:100%; height: 800px;">
      <div class="centered">Experience The Best Trip Ever</div>
    </div>
 
    <div class="mySlides fade">
        <img src="images\first_image4.jpg" style="width:100%; height: 800px;">
        <div class="centered">Experience The Best Trip Ever</div>
      </div>
    
      <div class="mySlides fade">
        <img src="images\first_image5.jpg" style="width:100%; height: 800px;">
        <div class="centered">Experience The Best Trip Ever</div>
      </div>
</div>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
 
    <div class="py-5">
    <div class="container"> 
        <h2 class="l_header">TravelTrek Stories</h2>
    </div>  
</div>
<div class="3d-cards" style=" -webkit-transform: perspective(900px); -webkit-transform-style: preserve-3d; margin-top:100px">
    <div class="card1">
        <img src="/images/modal-a.jpg" alt="">
        <h3 style="font-size:21px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:rgb(255,255,255);
        font-weight: 20;
        text-shadow: 0 0 2px rgb(255,255,255);
        transform: translatey(10px);">Taj Mahal, India</h3>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-align:center;
        width:220px;
        transform: translatex(12px);">"Have been in front of so many monuments till date, but the feel of witnessing Taj is unmatchable."</p>
      </div>

      
      <div class="card2">
        <img src="/images/place1.jpg" alt="">
        <h3 style="font-size:21px;
        font-weight: 20;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:rgb(255,255,255);
        text-shadow: 0 0 2px rgb(255,255,255);
        transform: translatey(10px);">Steets of Paris</h3>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-align:center;
        width:220px;
        transform: translatex(12px);">“A walk about Paris will provide lessons in history, beauty, and in the point of Life.”</p>
      </div>
      

      <div class="card3">
        <img src="/images/place5.jpg" alt="">
        <h3 style="font-size:21px;
        font-weight: 20;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:rgb(255,255,255);
        text-shadow: 0 0 2px rgb(255,255,255);
        transform: translatey(10px);">Statue of Liberty, <br>New York</h3>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-align:center;
        width:220px;
        transform: translatex(12px);">"The last time I was inside a woman was when I went to the Statue of Liberty."</p>
      </div>
   

      <div class="card4">
        <img src="/images/modal-c.jpg" alt="">
        <h3 style="font-size:21px;
        font-weight: 20;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:rgb(255,255,255);
        text-shadow: 0 0 2px rgb(255,255,255);
        transform: translatey(10px);">Leaning Tower of Pisa, Italy</h3>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-align:center;
        width:220px;
        transform: translatex(12px);">"Bucket list: to hold up the Leaning Tower of Pisa."</p>
      </div>
    

      <div class="card5">
        <img src="/images/place4.jpg" alt="">
        <h3 style="font-size:21px;
        font-weight: 20;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:rgb(255,255,255);
        text-shadow: 0 0 2px rgb(255,255,255);
        transform: translatey(10px);">Gateway of India, <br>Mumbai</h3>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-align:center;
        width:220px;
        transform: translatex(12px);">"Where dreams are fulfilled and lives are settled!"</p>
      </div>
</div>
      <div class="grad">
        <section class="py-5">
            <div class="container"> 
                <h2 class="l_header-withbg">Discover 360° views</h2>
            </div>  
        </section>
        <section class="blog-post">
            <div class="cardx">
                <div class="content">
                    <div class="details">
                        <h2>Taj Mahal, Agra, India</h2>
                    </div>
                    <img src="/images/modal-a.jpg" class="image-full">
                    <a href="https://goo.gl/maps/6RNx2Ka9m7Qe6xiy7" class="discover-btn">Get Surprised</a>
                </div>
            </div>
            <div class="cardx">
                <div class="content">
                    <div class="details">
                        <h2>Machu Picchu, Peru</h2>
                    </div>
                    <img src="/images/modal-b.jpg" class="image-full">
                    <a href="https://goo.gl/maps/ptkbCYhALMHat5kR7" class="discover-btn">Get Surprised</a>
                </div>
            </div>
            <div class="cardx">
                <div class="content">
                    <div class="details">
                        <h2>Leaning Tower of Pisa, Italy</h2>
                    </div>
                    <img src="/images/modal-c.jpg" class="image-full">
                    <a href="https://goo.gl/maps/2qxkBdwwpbNaGVYd9" class="discover-btn">Get Surprised</a>
                </div>
            </div>
        </div>
    </section>
<section class="py-5">
    <div class="container"> 
        <h2 class="l_header">Get Inspired</h2>
        <p style="text-align: center; color: #E4C062;font-size: 20px; margin-left: 200px;margin-right: 200px;">Discover the highlights of travelling and find ideas for your holidays</p>
    </div>   
</section>
 
<div class="row">
    <div class="column card" style="margin-left:64px; width: 380px;">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/ca/7d/be/bar-35-food-drinks.jpg" class="img-fluid1" alt="Card image cap">
        <div class="card-body ls-card">
          <h5 class="card-title">Food & Drinks</h5>
          <p class="card-text mb-3 ">"Good Food is Good Mood"</p>
            <a href="\food" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</a>
        </div>
      </div>
      <div class="column card" style="margin-left: 40px; margin-right: 40px;  width: 380px;">
        <img src="https://content3.jdmagicbox.com/comp/ahmedabad/a1/079pxx79.xx79.190705172910.n2a1/catalogue/wellness-spa-hamam-chandkheda-ahmedabad-body-massage-centres-0wfkfntu7i.jpg" class="img-fluid1" alt="Card image cap">
        <div class="card-body ls-card">
          <h5 class="card-title">Wellness & Spa</h5>
          <p class="card-text mb-3 ">"Spa days are a necessity not a luxury"</p>
            <a href="\wellness" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</a>
        </div>
      </div>
      <div class="column card" style="margin-right: 40px;  width: 380px;">
        <img src="http://www.stayadventurous.com/wp-content/uploads/2015/12/Staying-Advneturous-skydive-cZabransky.jpg" class="img-fluid1" alt="Card image cap">
        <div class="card-body ls-card">
          <h5 class="card-title">Adventurous</h5>
          <p class="card-text mb-3 ">"Life is a daring adventure or nothing"</p>
            <a href="\adventurous" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</a>
        </div>
      </div>
</div>    
 
<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
  </div>
<footer>
    <div class="row">
        <div class="footer-column">
            <h2>About Us</h2>
            <p>We are a travel and trek company based which delivers outstanding adventure travelling, trekking and mountain camping experiences.</p>
        </div>
        <div class="footer-column">
            <h2>Contact Us</h2>
            <h3>Location:</h3>
            <p>H.No.254, Near Ram Lila Chowk, Chhattarpur Village, New Delhi-11007</p>
            <h3>Phone:</h3>
            <p>Phone: +121 098 8907 9987<br>
                Emails: <a href="mailto:traveltrek@gmail.com">traveltrek@gmail.com</a></p>
        </div>
        <div class="footer-column">
            <h2>Recent Posts</h2>
            <img src="/images/first_image1.jpg" class="footer-image">
            <img src="/images/first_image2.jpg" class="footer-image">
            <img src="/images/first_image3.jpg" class="footer-image"><br>
            <img src="/images/first_image4.jpg" class="footer-image">
            <img src="/images/first_image5.jpg" class="footer-image">
            <img src="/images/place2.jpg" class="footer-image"><br>
            <img src="/images/place3.jpg" class="footer-image">
            <img src="/images/place4.jpg" class="footer-image">
            <img src="/images/place5.jpg" class="footer-image">
        </div>
        <div class="footer-column">
            <h2>Subscribe</h2>
            <p>Stay in touch with us, explore more adventurous places.</p>
            <form method="post" class="newsletter">
                <input class="email" type="email" placeholder="Enter your email" required>
                <button class="btn-newsletter">
                    <i class="fa fa-envelope"></i>
                </button>
            </form>
        </div>
    </div>
    
    <div class="copyright">
        <h4>Follow us now!</h4>
        <div class="follow">
            <ul>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icon" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="text">
            <p>Copyright © 2021 TravelTrek. All Rights Reserved. 
                <a href="index.html">TravelTrek</a>
            </p>
        </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
 
 
 
<script>
window.onscroll = function() {
  navbar.classList.add("sticky")
};
 
var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;
 
var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      
      for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1
      }    
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" activea", "");
      }

      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " activea";

      setTimeout(showSlides,4000); // Change image every 4 seconds
    }
</script>
 
</body>
</html>
